<li class="list-group-item">
  <div style={{styles.imageContainer}}>
    <img
      class="img-circle"
      src="http://ssl.gstatic.com/images/icons/material/product/1x/avatar_circle_blue_120dp.png"
      style={{styles.avatar}}
    />
  </div>

  <div style={{styles.contentContainer}}>
    <h4 class="list-group-item-heading" style={{styles.title}}>
      Nickname
    </h4>

    <h4 class="list-group-item-heading" style={{styles.timestamp}}>
      - {{moment-from-now tweet.data.createdAt}}
    </h4>

    <p class="list-group-item-text" style={{styles.text}}>
      {{tweet.data.text}}
    </p>
  </div>
</li>
