<li class="list-group-item">
  <div style={{styles.imageContainer}}>
    <img
      class="img-circle"
      src={{user.data.avatar}}
      style={{styles.avatar}}
    />
  </div>

  <div style={{styles.contentContainer}}>
    <h4 class="list-group-item-heading" style={{styles.title}}>
      {{user.data.nickname}}
    </h4>

    <h4 class="list-group-item-heading" style={{styles.timestamp}}>
      - {{moment-from-now tweet.createdAt}}
    </h4>

    <p class="list-group-item-text" style={{styles.text}}>
      {{tweet.text}}
    </p>
  </div>
</li>
